<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
    <script>UPLOADCARE_PUBLIC_KEY = "dee61ab8ed81781a81f2"</script>
    <title>User Auth</title>
</head>
<body>
    <nav class="nav">

        <div class="logoContainer">
            <a href="/catches/all"><img src="https://i.imgur.com/IniAC5v.png"class="logo"></a>
        </div>

        <div class="linksContainer">
            <ul class="navLinks">
                <% if(user) { %>
                <li><a href="/fish">Finda Fish</a></li>  
                <li><a href="/catches/yours">Your Catches</a></li>
                <li><a href="/users/profile">Profile</a></li>
                <% } else { %>
                <li><a href="/users/new">Sign Up</a></li>
                <li><a href="/users/login">Sign In</a></li>
                <% } %>
            </ul>
        </div>
        
    </nav>
    
