<%- include("./partials/header.ejs", {user: user} ) %>


<div class='landing'>
    <div>
        <img src="https://i.imgur.com/PKpASAS.png" class="landFish">
    </div>  
</div>


<%- include("./partials/footer.ejs") %>