body {
    width: 100%;
    margin: 0;
    font-family: "Lato";
    font-size: 1rem;
}

a {
    color: #2B3990;
    text-decoration: underline;
}

a:hover {
    size: 90%;
}

h1 {
    color: #2B3990;
}

button:hover {
    cursor: pointer;
}


/* css for nav bar */

.nav {
    background-color:#2B3990;
    display: flex;
    align-items: center;
    margin: 0;
    max-height: 7rem;
}

.logoContainer {
    display: flex;
    align-content:center;
    width:50%;
    margin-left: 3rem;
}

.logo {
    position: relative;
    top:.30rem;
    max-height:6rem;
}

.linksContainer {
    display: flex;
    align-content:center;
    justify-content: flex-end;
    width:50%;
    margin-right: 3rem;
}
.navLinks {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    list-style: none;
    font-size: 1.2rem;
}

.navLinks a {
    margin: .5rem;
    color: white;
}

.navImg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    align-self: center;
    margin: 1rem;
}


/* CSS for the search bar */

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}

.searchBar button {
    height: 1.9rem;
    margin: 0
}

.searchBar input {
    height: 1.5rem;
    width: 21rem;
    margin-top: 1rem;
}

.searchBar h1 {
    text-align: center;
}


/* css for the main content */

.backgrounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}



/* Css for the various tiles used to display images and info on fish and images */
.tile {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 25rem;
    /* min-width: 25rem; */
    height: auto;
    margin: 3rem;
    border: solid .2rem #2B3990;
    z-index: 1;
    
}

.tileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B3990;
    text-align: center;
}

.tileFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* text-align: center; */
    margin-left: 1rem;
}

.tileInfo {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.tileInfo p {
    margin: 0 1rem;
}

.tileInfo span {
    font-weight: bold;
}

.tile h3 {
    font-weight: normal;
    background-color: #2B3990;
    color: white;
    margin-left: 1rem;
}

.tileImg {
    display: flex;
    justify-content: center;
    background-color: white;
}

.link {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.tile img {
    max-height: 20rem;
    max-width: 25rem;
}


.tile p {
    justify-self: center;
    color:#2B3990;
    font-size: 1rem;
}


.tile button {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    background-color: white;
    color: #2B3990;
    margin:.3rem 1rem;
    border: none;
    text-decoration: underline;
    padding: 0;
    
}

.tile button:hover {
    cursor: pointer;
}

.wiki {
    color:#2B3990;
    border:none;
}

.addButton {
    color:white
}

#bucketlistButton {
    background-color: white;
    color:#2B3990;
    border: .1rem solid #2B3990;
    padding: .15rem .3rem
}

.tag {
    font-weight: bold;
    margin-bottom: 0
}

.noFish {
    color: red;
    z-index: 0;
    position:absolute;
    top: 19rem;
}

/* This section styles the Add catch and Edit forms */

.tileForm {
    Display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #2B3990;
    
}

.tileForm img {
    max-width: 15rem;
    border-radius: 15%;
}

.entryForm {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    margin: 1rem 3rem;
}

.entryForm input {
    border: .1rem solid #2B3990;
    margin-bottom: .5rem;
    height: 1.5rem
}

.entryForm textarea {
    border: .1rem solid #2B3990;
    margin-bottom: .5rem;
}

.entryButton {
    margin-bottom: 1rem;
    background-color:#2B3990;
    color: white;
    border: none;
    margin-top: .5rem;
    padding: .2rem .4rem
}

/* log in/out screens */

.loginError {
    color: red;
}

/* Upload button */

.uploadSpacer {
    margin-top: 1rem;
}

.uploadSpacerTop {
    margin-bottom: 1rem;
}

/* css for the profile screen */

.profile {
    display: flex;
    justify-content: center;
}

.profileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    border: .2rem solid #2B3990;
    padding: 0 1rem;
    border-radius: 5%;
    color: #2B3990
}

.profile p {
    justify-self: center;
    color:#2B3990;
    font-size: 1.1rem;
    text-align: center;
}

.profile img {
    max-width: 15rem;
    border-radius: 15%;
}

.editImg {
    max-width: 15rem;
    border-radius: 15%;
}

.logoutButton {
    margin-bottom: 1rem;
    background-color:#2B3990;
    color:white;
    border: none;
    margin-top: .5rem;
    padding: .1rem 1.5rem .3rem 1.5rem;
}


.bucketlist {
    display: flex;
    justify-content: center;
}

.bucketlist p {
    color:#ffffff;
    background-color: #2B3990;
    padding: .25rem 1rem;
    Margin: 3rem;
    font-size: 1.1rem;
}

.landing {
    display:flex;
    justify-content: flex-end;
    background-image: url(https://i.imgur.com/rUq6KUP.jpg);
    background-size: cover; 
    width:100%;
    height:100vh
}

.landing img {
    width: 20rem;
    margin: 2rem;
}

#catchInfo {
    margin-bottom: 1rem;
}

.bucketButton {
    border: none;
    color: #2B3990;
    text-decoration: underline;
    background-color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
}






@media screen and (max-width: 53rem) {
    .navLinks {
        flex-direction: column;
        font-size: 1rem;
    }

    .logoContainer {
        margin-left: 1rem;
    }

    .linksContainer {
        margin-right: 1rem;
    }

    .landing img {
       display:none
    }

}


@media screen and (max-width: 60rem) {

    .landing img {
       display:none
    }

}

@media screen and (max-width: 27rem) {

    .logoContainer {
        margin-left: 1rem;
    }

    .linksContainer {
        margin-right: 1rem;
    }

    .tile {
        min-width: 20rem;
    }

    .tile img {
        max-width: 20rem;
    }

    .landing img {
        display: none
    }
    
    .searchBar input {
        width: 17rem;
    }

    .profileBox {
        width: 20rem;
    }

}