<%- include("../partials/header.ejs", {user: user} ) %>

<h2>Sign in to your account!</h2>

<% if(message) { %>
    <p><%= message %></p>
<%} %>

<form method="POST" action="/users/login">
    <lable for="email">Email:</lable>
    <input type="'email" name="email" id="email" required/>
    <lable for="password">password:</lable>
    <input type="password" name="password" id="password" required/>
    <button type="submit">Login</button>
</form>





<%- include('../partials/footer.ejs') %>